In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yumen,CN,2021-10-29 06:10:46,40.2833,97.2000,54.27,20,50,5.48
1,1,Yar-Sale,RU,2021-10-29 06:10:47,66.8333,70.8333,23.65,96,100,12.12
2,2,Belaya Gora,RU,2021-10-29 06:10:48,68.5333,146.4167,3.70,97,100,1.77
3,3,Busselton,AU,2021-10-29 06:10:48,-33.6500,115.3333,62.04,45,47,5.17
4,4,Pietersburg,ZA,2021-10-29 06:10:50,-23.9045,29.4688,48.60,65,63,4.68

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
#Get the maximum temperature 
max_temps = city_data_df["Max Temp"]
temps = []
for temp in max_temps:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Ask the customer to add a minimum and maximum temp value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Si Satchanalai,TH,2021-10-29 06:10:51,17.5169,99.7598,83.57,74,52,4.14
9,9,Kapaa,US,2021-10-29 06:10:52,22.0752,-159.3190,78.78,97,75,6.91
16,16,Fayaoue,NC,2021-10-29 06:06:16,-20.6500,166.5333,75.45,72,0,14.79
17,17,Coahuayana,MX,2021-10-29 06:10:56,18.7333,-103.6833,76.86,92,8,2.86
22,22,Ishigaki,JP,2021-10-29 06:10:58,24.3448,124.1572,75.40,61,5,11.99

In [21]:
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7   Si Satchanalai      TH     83.57  17.5169   99.7598
9            Kapaa      US     78.78  22.0752 -159.3190
16         Fayaoue      NC     75.45 -20.6500  166.5333
17      Coahuayana      MX     76.86  18.7333 -103.6833
22        Ishigaki      JP     75.40  24.3448  124.1572
25         Malindi      KE     81.93  -3.2175   40.1191
27        Victoria      HK     84.25  22.2855  114.1577
28          Yulara      AU     87.64 -25.2406  130.9889
29           Thoen      TH     82.56  17.6129   99.2161
36     Salinopolis      BR     77.41  -0.6136  -47.3561

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping")

hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Si Satchanalai,TH,83.57,17.5169,99.7598,Chanalai Resort and Hotel
9,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Fayaoue,NC,75.45,-20.6500,166.5333,Chez Dydyce Guesthouse
17,Coahuayana,MX,76.86,18.7333,-103.6833,El rranchito michuacan de ocampos
22,Ishigaki,JP,75.40,24.3448,124.1572,Hotel Peace Land Ishigakijima
...,...,...,...,...,...,...
545,Bayji,IQ,76.98,34.9311,43.4870,مروان /عدنان
546,Sola,VU,82.24,-13.8833,167.5500,Leumerus Bungalows
547,Macapa,BR,80.58,0.0389,-51.0664,Atalanta Hotel
552,Ahvaz,IR,80.55,31.3203,48.6693,tashrifat tourism travel agency
554,Mayumba,GA,76.71,-3.4320,10.6554,LIKWALE LODGE

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]